a {
    color: #802bc1a6 !important;
}

.row-background {
    background-color: #931fc582 !important;
}

.bg-clr,
input.btn-primary,
.recbt,
div.card-title-sec {
    background-color: #802bc1a6 !important;
}

nav.navbar-brand,

.row input.btn-primary,
input.alert-danger,
input.alert-success {
    color: #fff !important;
}

input.alert-danger {
    background: red !important;
}

div.card-title-sec {
    background-color: #802bc1a6 !important;
}